<div class='divider'> </div>
<footer>
  <small>Retrieved at <%= Date.today %></small>
  <div class='separator'></div>
  <p>gamma-lang v<%= Gamma::Lang::VERSION %></p>
  <div class='separator'></div>
  <a href='https://github.com/jweissman/gamma-lang'>View source on Github</a>
</footer>

