<main>
  <div class='section'>
    <div class='section-heading'>
      <h3>
        interactive gamma interpreter.
        <span class='section-actions'>
          <a href='/'>&minus;</a>
        </span>
      </h3>
    </div>
    <div class='divider'></div>
    <%= erb :_iggy_container %>
  </div>
</main>

