<main>
  <div class='section'>
    <div class='section-heading'>
      <h3>getting started.</h3>
    </div>
    <div class='divider'></div>
    <div class='section-body'>
      <p>Gamma-lang is great.</p>
      <p>We'll learn all about it soon.</p>
      <p>For now, just skip to the next section.</p>
    </div>
  </div>

  <div class='section' style='flex-grow: 10'>
    <div class='section-heading'>
      <h3>
        interactive gamma interpreter.
        <span class='section-actions'>
          <a href='/iggy'>&plus;</a>
        </span>
      </h3>
    </div>
    <div class='divider'></div>
    <%= erb :_iggy_container %>
  </div>

  <div class='section'>
    <div class='section-heading'>
      <h3>having fun.</h3>
    </div>
    <div class='divider'></div>
    <div class='section-body'>
      <p>This is very important! (Having fun, that is.)</p>
      <div class='divider'></div>
      <p>Some things you should try with iggy...</p>
      <ul>
        <li>
          <pre><a href='/geval?user-input=2%2B3%2A4'>2+3*4</a></pre>
        </li>
        <li>
          <pre><a href='/geval?user-input=puts%281%2C2%2B3%29'>puts(1,2+3)</a></pre>
        </li>
      </ul>
      <div class='divider'></div>
      <p>Did you know? Gamma is great!</p>
    </div>
  </div>
</main>


